@import '../../global.scss';

    .portfolioList {
        font-size: 20px;
        font-weight: 500;
        color: $mainColor;
        margin-right: 30px;
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;

        &.active {
            background-color: $mainColor;
            color: white;
        }         
    }
