@import "../../global.scss";

.works {
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        height: 80px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
        }

        &.left {
            left: 100px; 
            transform: rotateY(180deg);
        }

        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transform: all 1s ease-out;

        @include mobile {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 90%;
                    height: 160px;
                    margin: 10px 0;
                }
                .left{
                    flex: 4;
                    height: 80%;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 15px;
                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;

                            @include mobile {
                                width: 20px;
                                height: 20px;

                            }

                            .icon{
                                font-size: 50px;
                                animation: iconBlink 2s infinite;
                                color: red;
                            }
                            .material-icons{
                                color: darkgreen;
                                font-size: 30px;
                                animation: iconBlink 2s infinite ease;
                                
                                @include mobile{
                                    font-size: 25px;
                                }
                            }
                            .iconImg{
                                width: 100%;
                                animation: iconBlink 2s infinite ease;
                            }

                            @keyframes iconBlink {
                                50% {
                                    opacity: 0;
                                };
                            }
                        }

                        h2 {
                                font-size: 20px;
                                @include mobile{
                                    font-size: 12px;
                                }
                            }
                        p{
                                font-size: 13px;
                                @include  mobile {
                                    display: none;
                                }
                            }
                        a {
                                font-size: 18px;
                                font-weight: 600;
                                text-decoration: underline;
                                cursor: pointer; 
                                
                                @include mobile{
                                    font-size: 10px;
                                }
                            }
                        
                    }
                }
                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img{
                        width: 400px;
                        transform: rotate(-10deg);

                        @include mobile{
                            width: 200px;
                        }
                    }

                }
            }
        }
    }
}